html {
    box-sizing: border-box;
}

body { 
    background: url("../images/abstract-background-blur-255379.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

div.title {
    width: 50%;
    margin: 15px 25px 75px;
}

h1 {
    color: black;
    margin: 55px 0px 75px 0px;
    letter-spacing: 12px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 1.7em;
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 15px;
}

p.rules {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

h4.magicNumH4 {
    text-align: center;
    margin-top: 2em;
    font-size: 2em;
    letter-spacing: 12px;
    text-transform: uppercase
}

span.magicNum {
    text-align: center;
    /* margin-top: 2em; */
    font-size: 1em;
    border: 1px solid #000;
}

#gems {
    margin-top: 50px;
    margin-left: 10%;
}
#blackCrystal {
    width: 75px;
    height: 75px;
}

#purpleCrystal {
    width: 75px;
    height: 75px;
}

#greenCrystal {
    width: 75px;
    height: 75px;
}

#redCrystal {
    width: 75px;
    height: 75px;
}

.list-item {
    list-style-type: decimal;
    padding-inline-start: 20px;
}

ol, ul {
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    margin-left: 20px;
    }

p + p {
    padding-top: 10px;
}

.scoreRow {
    margin-top: 150px;
}

.reset {
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 3px;
}
